/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General */
.mainContainer{
  width: 100%;
}
/* Flexbox */
.d-flex{
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
.gap-1{
  gap: 2rem;
}
.p-t-1{
  padding-top: 4rem;
}